/* TAGS COMUNS */

* {
    margin: 0;
    padding: 0;
    font-family: 'cocomat';
    font-size: 18px;
    font-weight: normal;
    color: black;
}

h1 {
    font-family: 'keepcalm';
    color: black;
    font-size: 40px;
    padding-bottom: 15px;
}

h2 {
    font-family: 'bellamy';
    color: rgb(246, 205, 115);
    font-size: 120px;
}
h3 {
    font-family: 'keepcalm';
    color: black;
    font-size: 22px; 
    
}
header {
    padding: 0px 100px 0px;
    margin: 10px;
}


.logo {
    font-weight: bold;
    margin-right: auto;
    margin-top: auto;
    padding: 20px;
    align-self: center;
    font-size: 24px;
}

.menu {
    background-color: transparent;
    display: flex;
    padding: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu ul li {
    margin-left: auto;
    margin-top: auto;
    padding: 20px;
}

.menu ul li a {
    font-weight: bold;
    text-decoration: none;
    padding: 0px 15px 0px;
}

.conteudo {
    display: flex;
    align-content: flex-end;
    flex-direction: column-reverse;
}


/*TAG NOSSA HISTORIA*/
section {
    display: flex;
    flex-direction: row;
    flex: 1;
    
}
.divisao {
    width: 50%;
}
img {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 150px;
}
p {
    width: 600px;
    padding: 5px 0px 5px;
}
.texto {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
/* RODAPES */

.area4 {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top-style: groove;
    padding-top: 15px;

}
.area4 span {
    color: gray;

}

footer {
    background-color: rgb(71, 70, 70);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer span {
    color: whitesmoke!important;
}