/* TAGS COMUNS */

* {
    margin: 0;
    padding: 0;
    font-family: 'cocomat';
    font-size: 18px;
    font-weight: normal;
    color: black;
}

h1 {
    font-family: 'keepcalm';
    color: black;
    font-size: 30px;
    padding-bottom: 5px;
}

.atual {
    color: rgb(246, 205, 115)!important;
}

h2 {
    font-family: 'bellamy';
    color: rgb(246, 205, 115);
    font-size: 80px;
}

h3 {
    font-family: 'keepcalm';
    color: black;
    font-size: 22px;
}

header {
    padding: 0px 100px 0px;
    margin: 10px;
}

.logo {
    font-weight: bold;
    margin-right: auto;
    margin-top: auto;
    padding: 20px;
    align-self: center;
    font-size: 24px;
}

.menu {
    background-color: transparent;
    display: flex;
    padding: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu ul li {
    margin-left: auto;
    margin-top: auto;
    padding: 20px;
}

.menu ul li a {
    font-weight: bold;
    text-decoration: none;
    padding: 0px 15px 0px;
}

.conteudo {
    display: flex;
    align-content: flex-end;
    flex-direction: column-reverse;
}


/*TAG rsvp*/

section {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.divisao {
    padding: 10px;
}

p {
    padding: 10px 0px 10px;
}

.texto {
    width: 500px;
    text-align: start;
    flex-direction: column;
    padding: 25px;
}

span {
    font-weight: bold;
}


/* RODAPES */

.area4 {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top-style: groove;
    padding-top: 15px;
}

.area4 span {
    color: gray;
}

footer {
    background-color: rgb(71, 70, 70);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: whitesmoke!important;
}