* {
    font-family: calibri, arial, verdana;
    font-weight: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

.menu {
    /* height: 80px; */
    background-color: #850100;
    position: fixed;
    width: 100%;
}

.menu ul {
    text-align: center;
    padding: 25px 0px;
}

.menu ul li {
    display: inline;
    margin: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

#topo {
    height: 100%;
    background-image: url('../imagens/dagostim.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

section {
    height: 100%;
    display: flex;
}


/* #quem, #bolos, #sucos, #cervejas { */

section:nth-child(odd) {
    background-color: rgb(44, 0, 0);
}


/* #paes, #cafes, #sanduiches */

section:nth-child(even) {
    background-color: #850100;
    flex-direction: row-reverse;
}


/* ">" usado para filhos diretos do section */

section>div {
    flex: 1;
}

.imagem {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#quem .imagem {
    background-image: url('../imagens/bistro.jpg');
}

#paes .imagem {
    background-image: url('../imagens/croissant.jpg');
}

.texto {
    background-color: #123;
}


/**/