/* TAGS COMUNS */

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: rgb(134, 171, 173);
    font-family: 'calibri';
}

h1 {
    color: rgb(66, 195, 220);
    font-size: 44px;
    padding: 40px 0px 40px;
}

h2 {
    font-size: 30px;
    color: rgb(66, 195, 220);
}

h3 {
    font-family: 'snippet';
    color: gray;
}

header {
    margin: 10px;
}



.logo {
    color: rgb(66, 195, 220);
    font-weight: bold ;
    padding: 10px 20px 10px;
    font-size: 24px;
}

.menu {
    background-color: white;
    display: flex;
    padding: 10px 50px 10px;
}

.menu ul {
    list-style: none;
    margin-left: auto;
}

.menu ul li {
    padding: 10px 20px 10px;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px 20px 10px;
}

.atual {
    color: rgb(66, 195, 220)!important;
}
i {
    color: rgb(66, 195, 220);
}
/*TAG CONTATO*/
.principal {
    padding: 30px 200px 30px;
}
.principal section {
    padding: 35px 0px 35px;
}
.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contato div {
    width: 550px;
    padding: 30px;
}
.contato span{
    display: block;
    font-size: 29px;
    padding: 5px 0px 5px;
}
.texto {
    margin: 40px 0px 20px;
    font-size: 16px!important;
    font-style: oblique;
}
/* FORMULARIO*/

.label {
    display: block;
    margin-top: 30px ;
}

.item-form {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    height: 35px;
}

.item-form:focus {
    background-color: rgb(205, 223, 245);
}

.botao-form {
    width: 200px;
    color: white;
    background-color: rgb(66, 195, 220);
    border: solid 1px;
    padding: 15px 20px;
    font-size: 17px;
    margin-top: 20px;
}

/* RODAPES */

.rodape {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-style: outset;
    padding-top: 15px;
}
.webnode{
    color: rgb(66, 195, 220)!important;
    text-decoration: underline;
    padding-bottom: 5px;
}
.rodape span {
    
    color: gray;
}

footer {
    background-color: rgb(71, 70, 70);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: whitesmoke!important;
}