/* TAGS COMUNS */

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: rgb(134, 171, 173);
    font-family: 'calibri';
}

h1 {
    color: rgb(66, 195, 220);
    font-size: 44px;
}

h2 {
    font-size: 28px;
    color: rgb(66, 195, 220);
    padding: 20px 0px 20px;
}

h3 {
    font-family: 'snippet';
    color: gray;
}

header {
    margin: 10px;
}



.logo {
    color: rgb(66, 195, 220);
    font-weight: bold ;
    padding: 10px 20px 10px;
    font-size: 24px;
}

.menu {
    background-color: white;
    display: flex;
    padding: 10px 50px 10px;
}

.menu ul {
    list-style: none;
    margin-left: auto;
}

.menu ul li {
    padding: 10px 20px 10px;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px 20px 10px;
}

.atual {
    color: rgb(66, 195, 220)!important;
}

i {
    color: rgb(66, 195, 220);
}
/*TAG SERVICOS*/
.principal {
    padding: 30px 150px 30px;
}
.principal section {
    padding: 35px 0px 35px;
}
.principal h1{
    text-align: center;
}
.servicos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divisoes {
    width: 500px;
    padding: 40px;
}
.divisoes ul {
    margin: 20px 30px 20px;
}
ul li {
    text-decoration-style: none;
}
/* RODAPES */

.rodape {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-style: outset;
    padding-top: 15px;
}
.webnode{
    color: rgb(66, 195, 220)!important;
    text-decoration: underline;
    padding-bottom: 5px;
}
.rodape span {
    color: gray;
}

footer {
    background-color: rgb(71, 70, 70);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: whitesmoke!important;
}