* {
    margin: 0;
    padding: 0;
    font-family: verdana;
    color: grey;
    font-weight: normal;
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 35px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.menu ul li {
    padding-left: 30px;
}

.menu ul li a {
    text-decoration: none;
    /* line-height: 1.5em; */
}

.atual a {
    text-decoration: underline!important;
}

.principal {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    align-items: center;
}

section div {
    flex: 1;
}

section img {
    width: 100%;
    height: auto;
}

section:nth-child(even) {
    flex-direction: row-reverse;
}

.conteudofinal {
    text-align: center;
}

.conteudofinal a {
    border: solid 1px #202020;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}