/* TAGS COMUNS */

* {
    margin: 0;
    padding: 0;
    font-family: 'cocomat';
    font-size: 18px;
    font-weight: normal;
    color: gray;
}

h1 {
    font-family: 'keepcalm';
    color: black;
    font-size: 40px;
}

h2 {
    font-family: 'bellamy';
    color: rgb(207, 185, 157);
    font-size: 100px;
}

header {
    margin: 10px;
    background-color: rgb(36, 35, 35);
    padding: 0px 100px 0px;
}

.menu {
    background-color: transparent;
    display: flex;
    padding: 10px;
}

.menu ul {
    list-style: none;
    margin-left: auto;
}

.menu ul li {
    margin-left: auto;
    margin-top: auto;
    padding: 20px;
}

.menu ul li a {
    text-decoration: none;
    padding: 5px;
    color: white;
}

.logo {
    color: white;
    align-self: center;
}

.principal {
    background-color: rgb(246, 246, 236);
    margin: 10px;
    padding: 100px;
}


/* TAGS DE CONTATO */

b {
    font-weight: bold;
}

.area1 {
    text-align: center;
    padding-bottom: 30px;
}

.secundaria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: black;
    padding: 30px 0px 30px;
}

.area2 {
    width: 30%;
}

.area3 {
    width: 50%;
    padding: 0px 80px 0px;
}

p {
    padding: 10px 0px 30px;
}

.endereco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.endereco div {
    width: 40%;
}

span {
    display: block;
}


/* formulario */

.label {
    display: block;
    margin: 15px 0px;
}

.item-form {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.item-form:focus {
    background-color: wheat;
}

.botao-form {
    width: 200px;
    color: white;
    background-color: black;
    border: solid 1px;
    padding: 10px 20px;
    font-size: 17px;
    margin-top: 10px;
}


/* RODAPES */

.area4 {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: rgb(71, 70, 70);
    color: whitesmoke;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}