/* TAGS COMUNS */

* {
    margin: 0;
    padding: 0;
    font-family: 'cocomat';
    font-size: 18px;
    font-weight: normal;
    color: gray;
}

h1 {
    font-family: 'keepcalm';
    color: black;
    font-size: 40px;
}

h2 {
    font-family: 'bellamy';
    color: rgb(207, 185, 157);
    font-size: 100px;
}

header {
    margin: 10px;
    background-color: rgb(36, 35, 35);
    padding: 0px 100px 0px;
}

.menu {
    background-color: transparent;
    display: flex;
    padding: 10px;
}

.menu ul {
    list-style: none;
    margin-left: auto;
}

.menu ul li {
    margin-left: auto;
    margin-top: auto;
    padding: 20px;
}

.menu ul li a {
    text-decoration: none;
    padding: 5px;
    color: white;
}

.logo {
    color: white;
    align-self: center;
}

.principal {
    background-color: rgb(226, 224, 224);
    margin: 10px;
    padding: 100px;
}


/* RODAPES */

.area4 {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: rgb(71, 70, 70);
    color: whitesmoke;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}